extends layout

block content
	.container
		h5
			span.glyphicon.glyphicon-bookmark
			strong &nbsp;#{title}
				small
					strong &nbsp;&nbsp;MY FAVORITE
		.well(style='color:grey;')
			strong COMING SOON...