extends layout

block content
	.container
		h5
			span.glyphicon.glyphicon-shopping-cart
			strong &nbsp;#{title}
				small
					strong &nbsp;&nbsp;ITEM TO CHECKOUT
		.well(style='color:grey;')
			strong COMING NOT VERY SOON...