extends layout

block content
	.container
		h5
			span.glyphicon.glyphicon-comment
			strong &nbsp;#{title}
				small
					strong &nbsp;&nbsp;COMMENT AND RATE
		blockquote(style='font-size:14px;')
			p(style='color:grey;')
				strong
					实际就诊结束后，可以对当次就诊进行评价。
			footer.blockquote-reverse
				微挂号工作小队